<link rel="stylesheet" type="text/css" src="formn.component.css">

<div class="s1">
    <h3>Form</h3>
<form action="#">
<input type="text" placeholder="Name" class="l1" required><br><br>
<div class="da">
<input type="radio" id="male" name="gender" value="male">
  <label for="male" style="font-size: 15px;">Male</label>
</div>
<div class="db" style="margin-left:128px">
  <input type="radio" id="female" name="gender" value="female" >
  <label for="female" style="font-size: 15px;">Female</label>
</div>
<br><input type="email" placeholder="Email" name="em" class="l1" required ><br><br>
<input type="text" placeholder="Contact Number" name="cont" class="l1" required><br><br>
<input type="text" placeholder="Message" name="mes" class="l1"><br><br>
<button type="submit" >Submit</button>
</form>
</div>
