<link rel="stylesheet" type="text/css" src="form.component.css">

<link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
<div class="full">
<div class="div1">
    <i class="fa fa-user" aria-hidden="true" id="f1" ></i><br>
    <button class="but but1" type="button" [routerLink]="['/list']"  >List View</button>
</div>

<div class="div2">
    <i class="fa fa-file-text-o" aria-hidden="true" id="f2" ></i><br>
    <button class="but but2" type="button" [routerLink]="['/formn']">Form </button>
</div>
</div>