
<div class="div1">
    <h4>List View</h4>
    <table>
        
      <tr>
        <th (click)="sort('no')">No&nbsp;<i class="fa fa-sort"></i></th>
        <th (click)="sort('name')">Name&nbsp;<i class="fa fa-sort"></i></th>
        <th >Gender</th>
        <th >Email</th>
        <th>Number</th>
        <th>Message</th>
    </tr>

      <tr *ngFor="let i of allUsers | orderBy: key: reverse">
        <td><b>{{i.no}}</b></td>
        <td >{{i.name}}</td>
        <td>{{i.gender}}</td>
        <td>{{i.email}}</td>
        <td>{{i.number}}</td>
        <td>{{i.message}}</td>
      </tr>
      
    </table>
    </div>
    <div class="divpiechart">
      <h4>Pie Chart</h4>
     <!--***Piechart***-->
      <div class="piechart">
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [colors]="pieChartColors"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins">
      </canvas>
      
    </div>
    
    </div> 

    
    
