




<div class="d1">
    <h4>List View</h4>
    
    <table>
        
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Number</th>
        <th>Message</th>
    
      </tr>
      <tr *ngFor="let i of allUsers">
        <td>{{i.no}}</td>
        <td>{{i.name}}</td>
        <td>{{i.gender}}</td>
        <td>{{i.email}}</td>
        <td>{{i.number}}</td>
        <td>{{i.message}}</td>
      </tr>
      
    </table>
    </div>
    <div class="d2">
      <h4 id="h">Pie Chart</h4>
      <div class="piechart">
        
    
    </div> 
    </div>